.produto-container {
    display: block;
}

.imagens {
    display: flex;
}
.imagem-destaque{
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.imagem-destaque img {
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 20px;
}

.miniaturas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.miniaturas img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid transparent;
}

.miniaturas img:hover {
    border: 2px solid #ff6600;
}

.descricao-produto {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.titulo-descricao {
    margin-top: 280px;
    margin-left: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
 }

.texto-descricao {
    font-size: 1em;
    text-align: justify;
}

.informacoes-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 200px;
}

.preco-quantidade {
    margin-bottom: 20px;
}

.preco-quantidade label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border: none;
    text-align: center;
}

#total-produto {
    font-weight: bold;
    margin-bottom: 20px;
}

.comprar {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.comprar:hover {
    background-color: #333;
}