body{
    background-color: #395886;
}
header{
    background-color: #ffd003;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-bottom: 28px;
}

.body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bolhas {
    position: absolute;
    display: flex
}

.bolhas span {
    width: 50px;
    height: 30px;
    background: #e5ff00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e5ff0044,
        0 0 50px #e5ff00,
        0 0 100px #e5ff00;
    animation: animar calc(30s / var(--i)) linear infinite;
}


@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even) {
    background: #2dc3ff;
    box-shadow: 0 0 0 10px #2dc3ff44,
        0 0 50px #2dc3ff,
        0 0 100px #2dc3ff;


}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff00;
    color: #000000;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 20px;
    position: relative;
}
.menu-input{
    padding: 10px 20px;
    border-radius: 5px;
}
.menu-button{
    text-decoration: none;
    color: #ffffff;
    background-color: #395886;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-button:hover{
    background-color: #333
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffff;
        position: absolute;
        top: 160px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .menu.show {
        display: flex;
    }

    .navbar {
        flex-direction: column;
    }
}

.menu li {
    margin-bottom: 10px;
}

.auth-buttons {
    position: absolute;
    top: 10px;
    right: 20px;
}

.login-button,
.register-button {
    background-color: #395886;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.login-button:hover,
.register-button:hover {
    background-color: #333;
}

.content {
    position: relative;
    text-align: center;
    z-index: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}


.slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    text-align: center;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container img {
    width: 160px;
    height: 160px;
    margin: 0 30px;
}

footer {
    background-color: #f53737;
    text-align: center;
    color: #000000;
    padding: 10px;
    margin-top: 30px;
}

/* Estilos para o contêiner de login */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #B1C9EF;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-container h2 {
    color: #333;
}

.input-field {
    margin-bottom: 15px;
    margin-right: 20px;
    text-align: left;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #395886;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.login-button:hover {
    background-color: #333;
}

.registro-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registro-container h2 {
    color: #333;
}

.input-field {
    margin-bottom: 15px;
    text-align: left;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro-button {
    background-color: #395886;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.registro-button:hover {
    background-color: #333;
}

/*Carrinho*/
.carrinho-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #000000;
}

.produto-details {
    flex: 2;
}

.imagem-principal {
    text-align: center;
}

.imagem-principal img {
    max-width: 200px;
    max-height: 200px;
}

.outras-imagens {
    text-align: center;
}

.outras-imagens img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.descricao-produto {
    text-align: center;
    margin-top: 20px;
}

.detalhes-compra {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

p {
    font-weight: bold;
    margin-top: 10px;
}
.boas-vindas{
    font-size: 28px;
    margin-top: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
}

input[type="radio"] {
    margin-right: 10px;
}

.calculadora-frete,
.cupom-desconto {
    margin-top: 20px;
}

#cep,
#cupom {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#calcular-frete,
#aplicar-cupom {
    background-color: #395886;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#calcular-frete:hover,
#aplicar-cupom:hover {
    background-color: #333;
}

.finalizar-compra {
    background-color: #395886;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.finalizar-compra:hover {
    background-color: #333;
}

.redes-sociais {
    text-align: left;
}

.redes-sociais a {
    display: flex;
    margin-bottom: 5px;
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
}

.redes-sociais a:hover {
    text-decoration: underline;
}

/* Adicione esta classe para estilizar o formulário do cartão */
#formulario-cartao {
    display: none;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario-cartao label,
#formulario-cartao input {
    display: block;
    margin: 10px 0;
}

#formulario-cartao button {
    background-color: #395886;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#formulario-cartao button:hover {
    background-color: #333;
}